<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>Channels page</title>
</head>
<body>
    <main class="column is-half is-offset-one-quarter">
        <h1 class="title is-2">Kanaly {{user.username}}</h1>
        <p>Wiadomosci</p>

    <input type="text" id="msg" placeholder="Enter message">
    <button class="button is-success" onclick="sendMessage()">Wyslij</button>

    <ul id="messages"></ul>

        <script>
            const socket = new WebSocket("ws://127.0.0.1:9999/channel/");

            socket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                const li = document.createElement("li");
                li.innerText = data.message;
                document.getElementById("messages").appendChild(li);
            };

            function sendMessage() {
                const message = document.getElementById("msg").value;
                socket.send(JSON.stringify({
                    'message': message
                }));
            }
        </script>
        <br>
        <h2>Chat</h2>
        <br>
     
      
    </main>

    
</body>
</html>