<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <nav>
        <button class="button is-danger m-3">
            <a href="{% url 'welcome_view' %}">
                Wroc do panelu startowego
            </a><br>
        </button>
        
    </nav>
    <main>
        <div class="column is-half is-offset-one-quarter">
            <div class="box ">
                <h1 class="title is-2">Panel logowania</h1>
                <form method="post" action="{% url 'login_view' %}">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Email/Nazwa uzytkownika</label>
                        <div class="control">
                            <input class="input" name="username" type="text" value="kacper@rctt.net" placeholder="kacper@rctt.net" />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Haslo</label>
                        <div class="control">
                            <input class="input" name="password" type="password" value="SnKpJmnSgkwW" placeholder="********" />
                        </div>
                    </div>
                    <br>

                    <button class="button is-primary" type="submit">Zaloguj sie</button>
                </form>
        
            </div>
        </div>
    </main>
    
</body>
</html>