<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Welcome page</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>

    <main class="column is-half is-offset-one-quarter ">
        <div class="colums">
            <div class="box m-3">
                <h4 class="">Contributing, Source Code</h4>
                <br>
                <a href="https://github.com/KacperStrugala1/message_repo">
                    
                    <button class="button">
                        <span class="icon">
                        <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="box has-text-centered">
        <h1 class="title is-2 is-align-content-center mt-4">Project - SOLEC:</h1>
        <h2 class="subtitle is-4 is-align-content-center">Sytem of Lightweight Electronic Communication</h2>
        <h2 class="subtitle is-4">
            Strona startowa projektu, 
            przejdz do panelu logowania aby korzystac z kanalow
        </h2>

        <button class="button is-primary is-centered">
            <a href="{% url 'login_view' %}">Zaloguj sie</a><br>
        </button>
    </main>
    
</body>
</html>